:root {
    --main-transition: 0.3s;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --bottom-color: #111d2aa9;
    --white-color: white;
    --main-border-radius: 6px;
    --main-padding: 20px;
}
/* Start Global Rules */
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body{
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
.content {
    overflow: hidden;
}
/* End Global Rules */
/* Start Sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
    padding: 20px;
}
@media (max-width:767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }
}
.sidebar > h3 {
    margin-bottom: 50px;
}
@media (max-width:767px) {
    .sidebar > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after {
        display: none;
    }
}
.sidebar > h3::before,
.sidebar > h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
}
.sidebar > h3::before {
    content: "";
    width: 80px;
    height: 2px;
    bottom: -20px;
}
.sidebar > h3::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    bottom: -29px;
    border: 4px solid white;
}
.sidebar > ul > li > a {
    transition: var(--main-transition);
        margin-bottom: 8px;
}
.sidebar > ul > li > a:hover {
    background-color: #f6f6f6;
}
.sidebar > ul > li > a > span {
    font-size: 15px;
    margin-left: 10px;
}
@media (max-width:767px) {
    .sidebar > ul > li > a > span {
        display: none;
    }
}
/* End Sidebar */
/* Start Head */
.head .search input{
    padding-left: 28px;
    margin-left: 5px;
    width: 160px;
    border: 1px solid #ccc;
    border-radius: var(--main-border-radius);
    font-size: 14px;
    transition: var(--main-transition);
}
.head .search input:focus {
    width: 200px;
}
.head .search input:focus::placeholder{
    color: transparent;
}
.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}
.head .icons .notification {
    transform: translateY(7px);
}
.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    right: -5px;
    top: -8px;
}
.head .icons img{
    width: 32px;
    margin-left: 10px; 
}
/* End Head */
/* Start Dashboard */
.content > h1 {
    position: relative;
    margin: 20px 20px 40px;
}
.content > h1::before,
.content > h1::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}
.content > h1::before {
    content: "";
    width: 160px;
    background-color: white;
}
.content > h1::after {
    content: "";
    width: 60px;
    background-color: black;
}
/* End Dashboard */
/* Start wrapper */
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 40px;
    margin: 0 20px 40px;
}
@media (max-width: 767px) {
    .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px; 
    }
}
/* End wrapper */
/* Start Welcome Widget */
.welcome {
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: var(--main-border-radius);
}
@media (max-width:767px) {
    .welcome {
        text-align: center;
    } 
}
.welcome .intro {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #eee;
}
.welcome .intro img {
    width: 180px;
    margin-bottom: -10px;
}
@media (max-width:767px) {
    .welcome .intro img {
        display: none;
    } 
}
.welcome .intro .teitel {
    font-size: 22px;
    margin-top: 0;
}
.welcome .intro .mei-neam {
    color: var(--grey-color);
}
.welcome .avter {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}
@media (max-width:767px) {
    .welcome .avter {
        margin-left: 0;
    } 
}
.welcome .body {
    display: flex;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}
@media (max-width:767px) {
    .welcome .body {
        flex-direction: column;
    } 
    .welcome .body > div:not(:last-child) {
        margin-bottom: 25px;
    }
}
.welcome .body > div {
    flex: 1;
}
.welcome .body > div > p {
    margin: 0;
}
.welcome .body > div > span {
    display: block;
    margin-top: 10px;
    color: var(--grey-color);
}
.welcome a {
    position: relative;
    display: block;
    background-color: var(--blue-color);
    width: fit-content;
    margin: 0 15px 15px auto;
    color: white;
    padding: 10px 15px;
    border-radius: var(--main-border-radius);
    transition: var(--main-transition);
}
.welcome a:hover {
    background-color: var(--bottom-color);
}
/* End Welcome Widget */
/* Start Quick Draft */
.quick {
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
    overflow: hidden;
}
.quick form > textarea {
    resize: none;
}
.quick form .save {
    background-color: var(--blue-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: var(--main-border-radius);
    display: block;
    margin: 0 15px 15px auto;
    transition: var(--main-transition);
}
.quick form .save:hover {
    background-color: var(--bottom-color);
}
/* End Quick Draft */
/* Start Yearly Targets */
.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .details {
    flex: 1;
}
.targets .details .progress {
    height: 4px;
}
.targets .details .progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.targets .details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}
.targets .details .progress > span span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
    border-top-color: var(--blue-color);
}
  .targets .details .progress > .orange span::after {
    border-top-color: var(--orange-color);
}
  .targets .details .progress > .green span::after {
    border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}
/* End Yearly Targets */
/* Start Tickets Statistics */
.tickets {
    background-color: var(--white-color);
    overflow: hidden;
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
}
.tickets .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
}
.tickets .boxes .box {
    position: relative;
    border: 1px solid #ccc;
    width: calc(50% - 20px);
    padding: 20px;
    z-index: 2;
    border-radius: var(--main-border-radius);
}
.tickets .boxes .box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #777;
    width: 0px;
    height: 100%;
    transition: var(--main-transition);
}
.tickets .boxes .box:hover:before {
    background-color: var(--bottom-color);
    width: 100%;
    z-index: -1;
}
@media (max-width:767px) {
    .tickets .boxes .box {
        width: calc(100% - 20px);
    }
}
.tickets .boxes .box > i {
    display: block;
}
.tickets .boxes .box > span {
    display: block; 
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}
/* End Tickets Statistics */
/* Start Latest News */
.latest-news {
    background-color: var(--white-color);
    overflow: hidden;
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
}
@media (max-width:767px) {
    .latest-news {
        text-align: center;
    }
}
.latest-news .news-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.latest-news .news-row:not(:last-child) {
    border-bottom: 1px solid #eee;
}
@media (max-width:767px) {
    .latest-news .news-row {
        display: block;
    }
}
.latest-news .news-row > img {
    width: 100px;
    border-radius: var(--main-border-radius);
    margin-right: 15px;
}
.latest-news .news-row .info {
    flex: 1;
}
.latest-news .news-row .info > h3 {
    margin-top: 0;
    margin-bottom: 6px;
}
.latest-news .news-row .info > p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--grey-color);
}
@media (max-width:767px) {
    .latest-news .news-row .btn-shape {
        width: fit-content;
        margin: 10px auto;

    }
}
/* End Latest News */
/* Start Latest Tasks */
.latest-tasks {
    background-color: var(--white-color);
    overflow: hidden;
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
}
.latest-tasks .task-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.latest-tasks .task-row:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.latest-tasks .task-row .info {
    flex: 1;
}
.latest-tasks .task-row .info > h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
.latest-tasks .task-row .info > p {
    margin: 0;
    color: var(--grey-color);
}
.latest-tasks .task-row i {
    transition: var(--main-transition);
    cursor: pointer;
}
.latest-tasks .task-row i:hover {
    color: red;
}
/* End Latest Tasks */
/* Start Top Search Word Widget */
.search-items {
    padding: var(--main-padding);
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    overflow: hidden;
}
.search-items .items-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: var(--grey-color);
}
.search-items .items {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
/* End Top Search Word Widget */
/* Start Latest Uploads Widget */
.last-uploads {
    padding: var(--main-padding);
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    overflow: hidden;
}
.last-uploads > ul > li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
/* End Latest Uploads Widget */
/* Start Last Project Progress Widget */
.last-project {
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    background-color: var(--white-color);
    overflow: hidden
}
.last-project > ul::before{
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}
.last-project > ul > li {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.last-project > ul > li::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}
.last-project > ul > li.done::before {
    background-color: var(--blue-alt-color);
}
.last-project > ul > li.current::before {
    background-color: var(--blue-alt-color);
    animation: change-color 0.8s infinite alternate;
}
@keyframes change-color {
    from {
      background-color: var(--blue-color);
    }
    to {
      background-color: white;
    }
  }
/* End Last Project Progress Widget */
/* Start Reminders Widget */
.reminders {
    padding: var(--main-padding);
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    overflow: hidden;
}
.reminders > ul > li {
    position: relative;
    margin-left: 40px;
}
.reminders > ul > li::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -50px;
    width: 15px;
    height: 15px;
    background-color: var(--blue-alt-color);
    border-radius: 50%;
    animation: remindes-color 1.5s infinite;
}
.reminders > ul > li::before {
    border: 4px solid #eee;
}
.reminders > ul > li::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -20px;
    width: 3px;
    height: 57px;
    background-color: var(--blue-alt-color);
}
.reminders > ul > li > P {
    font-size: 17px;
    font-weight: bold;
}
.reminders > ul > li > span {
    color: var(--grey-color);
    font-size: 14px;
}
@keyframes remindes-color {
    from {
      background-color: var(--blue-color);
    }
    to {
      background-color: white;
    }
  }
/* End Reminders Widget */
/* Start Latest Post Widget */
.latest-post {
    padding: var(--main-padding);
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    overflow: hidden;
}
.latest-post .infos {
    display: flex;
    align-items: center;
}
.latest-post .infos img {
    width: 40px;
    margin-right: 15px;
}
.latest-post  .post-conte p{
    margin: 20px 0;
    padding: 20px 0;
    text-transform: capitalize;
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
}
.latest-post .post-stats {
    display: flex;
    justify-content: space-between;
    color: var(--grey-color);
}
/* End Latest Post Widget */
/* Start Social Media Stats Widget */
.social-media {
    padding: var(--main-padding);
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    overflow: hidden;
}
.social-media .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 70px;
    margin-bottom: 10px;
    position: relative;
}
.social-media .twitter,
.social-media .facebook {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}
.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}
.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.3s;
    color: white; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
}
.social-media .box i:hover {
    transform: rotate(5deg   );
}
.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}
.social-media .facebook  i,
.social-media .facebook  a {
    background-color: #1877f2;
}
.social-media .youtube  i,
.social-media .youtube  a {
    background-color: #ff0000;
}
.social-media .linkedin  i,
.social-media .linkedin  a {
    background-color: #0077b5;
}
.social-media .box a {
    padding: 4px 10px;
    border-radius: 4px;
    color: white;
}
/* End Social Media Stats Widget */
/* Start Projects Table */
.projects-Table .responsive-table {
    overflow-x: auto;
}
@media  (max-width:1310px) {
}
.projects-Table table {
    min-width: 1000px;
    border-spacing: 0;
}
.projects-Table thead td {
    background-color: #eee;
    font-weight: bold;
}
.projects-Table table td {
    padding: 15px;
}
.projects-Table tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: 0.3s;
}
.projects-Table table tbody tr td:last-child {
    border-right: 1px solid #eee;
}
.projects-Table tbody tr:hover td {
    background-color: #faf7f7;
}
.projects-Table table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}
.projects-Table table img:not(:first-child) {
    margin-left: -20px;
}
.projects-Table table .label {
    font-size: 13px;
}
/* End Projects Table */
/* Start Settings */
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
    .settings-page {
      grid-template-columns: minmax(100px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
    }
}
.settings-page .close-message {
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;
}
.settings-page .email {
    display: inline-flex;
    width: calc(100% - 80px);
}
.settings-page .sec-box {
    padding-bottom: 15px;
}
.settings-page .sec-box:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.settings-page .sec-box .button {
    transition: 0.3s;
}
.settings-page .sec-box .button:hover {
    background-color: var(--blue-alt-color);
}
.settings-page .social-boxes i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 0.3s;
    display: flex;
}
.settings-page .social-boxes input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
}
.settings-page .social-boxes > div:focus-within i {
    color: black;
}
.widgets-control .control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}
.widgets-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.widgets-control .control label::before,
.widgets-control .control label::after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 4px;
}
.widgets-control .control label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
}
.widgets-control .control label:hover::before {
    border-color: var(--blue-alt-color);
}
.widgets-control .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
}
.backup-control input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}
.backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.backup-control .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -11px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
}
.backup-control .date label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 3px;
    width: 12px;
    height: 12px;
    background: var(--blue-color);
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0);
}
.backup-control .date input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);
  }
  .backup-control .date input[type="radio"]:checked + label::after {
    transform: scale(1);
}
.backup-control .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
}
  @media (max-width: 767px) {
    .backup-control .servers {
      flex-wrap: wrap;
    }
}
.backup-control .servers .server {
    border: 2px solid #eee;
    position: relative;
}
.backup-control .servers .server label {
    cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-color);
}
.settings-page :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
}
/* End Settings */
/* Start Profile */
.Profile-pag .overview {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
}
@media (max-width:767px) {
    .Profile-pag .overview {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.Profile-pag .avatar-box {
    width: 300px;
    padding: 20px;
    text-align: center;
}
@media (min-width:767px) {
    .Profile-pag .avatar-box {
        border-right: 1px solid #eee;
    }
}
.Profile-pag .avatar-box img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.Profile-pag .info-box .box {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    padding: 20px;
}
.Profile-pag .info-box .box > h4{
    margin: 0;
    color: var(--grey-color);
    font-size: 15px;
    width: 100%;
}
.Profile-pag .info-box .box > div {
    min-width: 250px;
    padding: 10px 0 0;
}
.Profile-pag .toggle-switch {
    height: 20px;
}
.Profile-pag .toggle-checkbox:checked + .toggle-switch::before {
    left: 62px;
}
.Profile-pag .toggle-switch::before {
    width: 12px;
    height: 12px;
    font-size: 8px;
}
@media (max-width:767px) {
    .Profile-pag .toggle-switch {
        margin: auto;
    }
}
.other-data {
    display: flex;
    gap: 20px;
}
@media (max-width:767px) {
    .other-data {
        flex-direction: column;
    }
}
.other-data .skills-card {
    padding: var(--main-padding);
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    margin-top: 20px;
}
@media (max-width:767px) {
    .other-data .skills-card > h2,
    .other-data .skills-card > p {
        text-align: center;
    }
}
.other-data .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.other-data .skills-card ul li {
    padding: 15px 0;
}
.other-data .skills-card ul li span {
    display: inline-flex; 
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
}
.other-data .skills-card ul li span:not(:last-child) {
    margin-right: 5px;
}
.other-data .activitys {
    padding: var(--main-padding);
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    margin-top: 20px;
    flex: 2;
}
@media (max-width:767px) {
    .other-data .activitys > h2,
    .other-data .activitys > p {
        text-align: center;
    }
}
.other-data .activity {
    padding-bottom: 20px;
    margin-bottom: 20px
}
.other-data .activity:not(:last-child) {
    border-bottom: 1px solid #eee;
}
@media (max-width:767px) {
    .other-data .activity {
        flex-direction: column;
    }
}
.other-data .activity img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
@media (max-width:767px) {
    .other-data .activity img {
        margin-right: 0;
        margin-bottom: 15px;
    }
}
@media (min-width: 768px) { 
    .other-data .activity .date {
    margin-left: auto;
    text-align: right;
    }
}
/* End Profile */
/* Start Projects */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin: 20px;
    gap: 20px;
}
@media (max-width:767px) {
    .projects {
        grid-template-columns: minmax(200px, 1fr);
        margin: 10px;
        gap: 10px;
    }
}
.projects .project {
    padding: var(--main-padding);
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    position: relative;

}
.projects .project .date {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--grey-color);
    font-size: 14px;
}
.projects .project h4 {
    font-weight: normal;
}
.projects .project .team {
    position: relative;
    min-height: 80px;
}
.projects .project .team a {
    position: absolute;
    bottom: 0;
    left: 0;
}
.projects .project .team a:nth-child(2) {
    left: 25px;
}
.projects .project .team a:nth-child(3) {
    left: 50px;
}
.projects .project .team a:nth-child(4) {
    left: 75px;
}
.projects .project .team a:nth-child(5) {
    left: 100px;
}
.projects .project .team a img {
    width: 40px;
    border: 2px solid #eee;
    border-radius: 50%;
}
.projects .project .do {
    justify-content: flex-end;
    gap: 10px;
    /* align-items: center; */
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}
@media (max-width:767px) {
    .projects .project .do {
        flex-direction:column;
        align-items: flex-start;
    }
}
.projects .project .do span {
    padding: 5px 10px;
}
@media (max-width:767px) {
    .projects .project .do span:not(:last-child) {
        margin-bottom: 15px;
    }
}
.projects .project .info {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px) {
    .projects .project .info {
        flex-direction: column;
        align-items: center;
    } 
}
.projects .project .info .prog {
    background-color: #eee;
    position: relative;
    width: 260px;
    height: 8px;
    border-radius: 6px;
}
@media (max-width:767px) {
    .projects .project .info .prog{
        margin-bottom: 15px;
    } 
}
.projects .project .info .prog span {
    position: absolute;
    height: 100%;
    border-radius: 6px;
}
/* End Projects */
/* Start Courses */
.courses-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
}
.courses-page .course {
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    overflow: hidden;
    position: relative;
}
.courses-page .course .cover {
    max-width: 100%;
}
.courses-page .course .instructor {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid #eee;
    border-radius: 50%;
}
.courses-page .course p {
    line-height: 1.6;
}
.courses-page .info {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding: 15px;
    font-size: 13px;
}
.courses-page .info .title {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    background-color: var(--blue-color);
    color: white;
    padding: 8px 10px;
    border-radius: var(--main-border-radius);
}
/* End Courses */
/* Start Friends */
.friends-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 20px;
    gap: 20px;
}
.friends-page .friend {
    background-color: var(--white-color);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
}
.friends-page .friend .contact i {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s
}
.friends-page .friend .contact i:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}
.friends-page .friend img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0;
}
.friends-page .friend .icons {
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: relative;
}
.friends-page .friend .icons .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.2;
}
/* End Friends */
/* Start Plans */
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
    .plans-page {
      grid-template-columns: minmax(250px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
    }
}
.plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid transparent;
}
.plans-page .plan.green .top {
    outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
    outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
    outline-color: var(--orange-color);
}
.plans-page .plan .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 25px;
}
.plans-page .plan .price {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}
.plans-page .plan ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}
.plans-page .plan ul li i:first-child {
    font-size: 18px;
    margin-right: 5px;
}
.plans-page .plan ul li .help {
    color: var(--grey-color);
    margin-left: auto;
    cursor: pointer;
}
.plans-page ul {
    margin: 15px 0;
}
.plans-page .plan ul li .yes {
    color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes, .help) {
    color: var(--red-color);
}
/* End Plans */